<template>
  <div class="home">
    <!--//<img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />-->
    <datepicker :value="getNow()" format="DD/MM/YYYY" name="start" />
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from "@/components/HelloWorld.vue";
import DatepickerComponent from "../components/datepicker/Datepicker.vue";
import moment from "moment";

export default {
  name: "Home",
  components: {
    datepicker: DatepickerComponent,
  },
  methods: {
    getNow: function () {
      return moment(new Date()).format("YYYY-MM-DD");
    },
  },
};
</script>
