/*.slidev {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
}*/
.slidev-leave-active, .slidev-enter-active {
    transition: all .3s;
    transform: translateX(0);
    opacity: 1;
}

.slidev-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}
.slidev-enter {
    transform: translateX(100%);
    opacity: 0;
}