<style>
.datepicker_container {
  position: relative;
}
</style>

<template>
  <div class="datepicker_container">
    <input type="text" :value="date_formatted" @click="showDatepicker" />
    <input type="text" :name="name" :value="date_raw" />
    <datepicker-agenda
      :visible="isVisible"
      :date="date"
      @change="selectDate"
      @cancel="hideDatepicker"
    />
  </div>
</template>

<script>
/* eslint-disable no-new */
import moment from "moment";
import DatepickerAgendaComponent from "./Datepicker-Agenda";

moment.locale("fr");

export default {
  components: {
    "datepicker-agenda": DatepickerAgendaComponent,
  },
  props: {
    value: { type: String, required: true },
    format: { type: String, default: "YYYY-MM-DD" },
    name: { type: String },
  },
  data: function () {
    return {
      date: moment(this.value, "YYYY-MM-DD"),
      isVisible: false,
    };
  },
  methods: {
    selectDate(date) {
      this.date = date;
      this.hideDatepicker();
    },
    showDatepicker() {
      this.isVisible = true;
      setTimeout(
        () => document.addEventListener("click", this.hideDatepicker),
        0
      );
    },
    hideDatepicker() {
      this.isVisible = false;
      document.removeEventListener("click", this.hideDatepicker);
    },
  },
  computed: {
    date_formatted: function () {
      return this.date.format(this.format);
    },
    date_raw: function () {
      return this.date.format("YYYY-MM-DD");
    },
  },
};

/**
 * https://youtu.be/ISB5i__z9bI?t=1155
 * https://www.grafikart.fr/tutoriels/datepicker-754
 */
</script>
