<style lang="scss">
$header-height: 100px;
$day-size: 41px;

.datepicker {
  position: absolute;
  top: 100%;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
}

.datepicker__header {
  background-color: #0097a7;
  color: #fff;
  padding: 20px;
  height: $header-height;
}

.datepicker__year {
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 10px;
}

.datepicker__date {
  font-size: 32px;
  line-height: 32px;
}

.datepicker {
  width: 315px;
}

.datepicker__week {
  padding: 0 14px;
}
.datepicker__weekday {
  float: left;
  width: $day-size;
  height: $day-size;
}

.datepicker__week {
  font-size: 12px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.8);
  // display: flex;
  // justify-content: space-around;
}

.datepicker__weekday {
  float: left;
  text-align: center;
}

.datepicker__day {
  position: relative;
  width: 41px;
  height: 41px;
  float: left;
  text-align: center;
  line-height: $day-size;
  cursor: pointer;
  transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1);
}

.datepicker__days {
  // position: relative;
  // display: flex;
  // justify-content: space-between;
  margin: 14px;
  margin-bottom: 0;
  //  height: $day-size * 5;
  //  height: 41px; width: 41px;
  // overflow: hidden;
}

.datepicker__day__effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(0, 151, 167);
  width: 36px;
  height: 36px;
  top: 2px;
  left: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transform: scale(0);
  opacity: 0;
}

.datepicker__day__text {
  position: relative;
}

.datepicker__day:hover {
  color: #fff;
  .datepicker__day__effect {
    transform: scale(1);
    opacity: 0.6;
  }
}

.datepicker__day.selected {
  color: #fff;
  .datepicker__day__effect {
    transform: scale(1);
    opacity: 1;
  }
}

.datepicker__controls {
  position: relative;
  height: 56px;
  line-height: 56px;
  text-align: center;

  button {
    position: relative;
    border: none;
    background-color: transparent;
    user-select: none;
    outline: none;
    cursor: pointer;
    width: 56px;
    height: 56px;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: rgba(0, 0, 0, 0.87);
    vertical-align: middle;
  }
}

.datepicker__month {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.datepicker__next {
  float: right;
}

.datepicker__prev {
  float: left;
}

.datepicker__actions {
  text-align: right;
  padding: 8px;
}

.datepicker__actions button {
  border: none;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  outline: none;
  color: #00bcd4;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  min-width: 88px;
  line-height: 35px;
  text-align: center;
  -webkit-appearance: none;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(153, 153, 153, 0.2);
  }
}

.datepicker-slide-leave-active,
.datepicker-slide-enter-active {
  opacity: 1;
  transition: all 0.3s;
  transform: translateY(0);
}

.datepicker-slide-enter,
.datepicker-slide-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

@import url("animations.scss");
</style>

<template>
  <transition name="datepicker-slide">
    <div class="datepicker" v-if="visible" @click.stop>
      <div class="datepicker__header">
        <div class="datepicker__year">
          {{ year }}
        </div>
        <div class="datepicker__date">
          {{ date_formatted }}
        </div>
      </div>

      <div class="datepicker__controls">
        <div class="datepicker__month">{{ month.getFormattedMonth() }}</div>
        <button class="datepicker__next" @click="nextMonth()">
          Next
          <svg viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
          </svg>
        </button>
        <button class="datepicker__prev" @click="prevMonth()">
          Prev
          <!-- <svg viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" ></path></svg> -->
          <svg viewBox="0 0 24 24">
            <path
              d="m14.74 5.8801 1.41 1.41-4.58 4.59 4.58 4.59-1.41 1.41-6-6z"
            />
          </svg>
        </button>
      </div>

      <div class="datepicker__week">
        <div
          v-for="(day, index) in days"
          :key="index"
          track-by="$index"
          class="datepicker__weekday"
        >
          {{ day }}
        </div>
      </div>

      <div class="datepicker__days">
        <!-- <div style="position:relative"> -->
        <!-- <transition name="slidev" :key="index" v-for="(month, index) in [month]"> -->
        <div
          class="datepicker__day"
          :style="{ width: month.getWeekStart() * 41 + 'px' }"
        />
        <div
          class="datepicker__day"
          :key="index"
          @click="selectDate(day)"
          v-for="(day, index) in month.getDays()"
          :class="{ selected: isSelected(day) }"
        >
          <span class="datepicker__day__effect"></span>
          <span class="datepicker__day__text">{{ day.format("D") }}</span>
        </div>
      </div>
      <!-- </transition> -->
      <div class="datepicker__actions">
        <button @click="cancel">Annuler</button>
        <button @click="submit">OK</button>
      </div>

      <!-- </div> -->
    </div>
  </transition>
</template>

<script>
import Month from "../../modules/month";

export default {
  props: {
    date: {},
    visible: { type: Boolean, default: true },
    changingMonth: { type: Boolean, default: true },
  },
  data() {
    return {
      days: ["L", "M", "M", "J", "V", "S", "D"],
      month: new Month(this.date.month(), this.date.year()),
    };
  },
  methods: {
    isSelected(day) {
      return this.date.unix() === day.unix();
    },
    selectDate(day) {
      this.date = day.clone();
      this.changingMonth = false;
    },
    nextMonth() {
      let month = this.month.month + 1;
      let year = this.month.year;
      if (month > 11) {
        year++;
        month = 0;
      }
      this.month = new Month(month, year);
      this.changingMonth = true;
    },
    prevMonth() {
      let month = this.month.month - 1;
      let year = this.month.year;
      if (month < 0) {
        year--;
        month = 11;
      }
      this.month = new Month(month, year);
      this.changingMonth = true;
    },
    cancel() {
      this.$emit("cancel");
    },
    submit() {
      this.$emit("change", this.date);
    },
  },
  // watch: {
  //   month: {
  //   }
  // },
  computed: {
    year() {
      return this.date.format("YYYY");
    },
    date_formatted() {
      return this.date.format("dddd DD MMM");
    },
  },
};
</script>
