<template>
  <div id="app">
    <!--<datepicker :value="getNow()" format="DD/MM/YYYY" name="start" />-->
    <h1 class="title">Date Picker</h1>
    <nav id="nav">
      <ul>
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
          <router-link to="/about">About</router-link>
        </li>
      </ul>
    </nav>
    <router-view />
  </div>
</template>

<script>
import moment from "moment";
// import HelloWorld from './components/HelloWorld.vue'
//import DatepickerComponent from "./components/datepicker/Datepicker.vue";

export default {
  name: "App",
  components: {
    // HelloWorld,
    //datepicker: DatepickerComponent,
  },
  methods: {
    getNow: function () {
      return moment(new Date()).format("YYYY-MM-DD");
    },
  },
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  margin: 0 auto;
  max-width: 1100px;
  color: #2c3e50;
}

.title {
  text-align: center;
}

#nav {
  /* padding: 30px; */
  padding: 0;
  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      margin-right: 1em;
    }
    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
}
</style>
